:root {
    --primary-text-color: #212121;
    --title-text-color: #000;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --second-bc: #2f303a;
    --white: #fff;
    --btn-bg-color: #f5f4fa;
    --btn-hero-color: #188ce8;
}

body {
    background-color: var(--white);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}
.emphasis {
    text-decoration:none;
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }

/* Header */

.web {
    color: var(--accent-color);
}

.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.page-header .link {
    color: inherit;    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.page-header .link:hover,
.page-header .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.page-header .add {
    color: var(--second-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.page-header .add:hover, 
.page-header .add:focus {
    color: var(--accent-color);
}

/* main */

.hero {
    background-color: var(--second-bc);
}
.hero-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .btn {
    background-color: var(--accent-color);
    color: var(--white);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero .btn:hover,
.hero .btn:focus {
    background-color: var(--btn-hero-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.benefits .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits .text {
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.bg-color {
    background-color: var(--btn-bg-color);
}

.team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .text {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
}

.bg-text {
    background-color: var(--white);
}

/* footer */

.info {
    background-color: var(--second-bc);
}

.info .address {
    color: var(--white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
}

.info .contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.info .contact:hover,
.info .contact:focus {
    color: var(--accent-color);
}

.f-web{
    color: var(--accent-color);
}

.f-studio {
    color: var(--white);
}
/* portfolio */

.services .btn {
    background-color: var(--btn-bg-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.services .btn:hover, 
.services .btn:focus{
    background-color: var(--accent-color);
    color: var(--white);
}

.models .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.models .text {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
}